.background-about {
    z-index: -99;
    background-image: url("../images/header_images/header1.png");
    width: 100% !important;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: 0px -200px;
}

.background-rules {
    z-index: -99;
    background-image: url("../images/header_images/header2.png");
    width: 100% !important;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: 0px -200px;
}
.custom-container-fluid {
    margin: 0 auto;
    margin-top: 200px;
    width: 800px;
}ß