@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
    url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@keyframes pulse {
    0% {
        opacity: .5;
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: .5;
    }
}

body {
    font-family: 'latoregular';
    background-color: #ffffff;
}

h1, h2, h3 {
    font-family: 'montserratregular';
    /*text-transform: uppercase;*/
}

footer {
    background-color: #202020;
    color: #5e5e5e;
    padding-bottom: 30px;
}

footer a {
    color: #5e5e5e;
    text-decoration: none;
}

footer a:hover {
    color: #acacac;
    text-decoration: none;
}


section {
    padding-top: 100px;
    /*color: white;*/
}

section #feature-area {
    margin-bottom: 0px;
}

section h1 {
    color: #25c2f2;
    font-size: 72px;
    /*text-shadow: 4px 4px 0px #25c2f2;*/
    /*letter-spacing: 3px;*/
}

.video-container {
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
}
.video-container video {
    min-width: 100%;
    min-height: 100%;
}
.content {
    margin-top: 70px;
}

.text-container {
    margin-left: auto;
    margin-right: auto;

}

.thin-type {
    font-family: 'montserratlight';
}

.navbar {
    min-height: 70px;
}
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-top: 10px;
}
.navbar-default {
    background-color: #25c2f2;
    /*background-color: transparent;*/
    color: white;
    border-color: transparent;
}


.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand {
    text-shadow: 2px 2px 0px rgba(235, 0, 139, 1);
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
    text-shadow: 2px 2px 0px rgba(85, 242, 42, 1);
}
.navbar-brand{
    margin-top: -15px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #27daff;
}

#zoo-cam{
    /*color: #e00000;*/
    background-color: #e00000;
    border-radius: 3px;
    margin-left: 5px;
}
#zoo-cam .glyphicon-record {
    padding-top: 2px;
}

.featured-sections {
    padding-bottom: 2em;
}
.server-feature .btn {
    width: 100%;
}

.new-feature {
    color: white;
    /*background-image: url(../images/header4.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    /*height: 600px;*/
}

.new-feature h1 {
     color: white;
 }

.new-feature h2 {
    line-height: 40px;
    margin-top: 0px;
}

.new-feature a {
    /*font-family: 'latoregular';*/
    font-size: 24px;
    padding: 5px 80px;
    margin-top: 20px;
}

.new-feature p {
    font-family: 'latoregular';
    font-size: 12px;
}

.new-feature .btn-default {
    background-color: rgba(0, 0, 0, 0.58);
    /*border-color: #55f22a;*/
    color: white;
}

.new-feature .container {
    padding-top: 10%;
}
.server-feature {
    background-color: rgb(75, 75, 75);
    border: #25c2f2;
    border-style: solid;
    border-radius: 6px;
    margin-bottom: 20px;
    transition: box-shadow 1s, border 1s;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
    color: white;
}

.server-feature:hover {
    -webkit-box-shadow: 0px 10px 60px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 60px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 60px -4px rgba(0, 0, 0, 0.3);
    border: #55f22a;
    border-style: solid;
    border-radius: 6px;
    transition: box-shadow 1s, border 1s;
}


.server-feature h2 {
    margin-top: 0px;
    color: white;
}

.server-feature small {
    color: white;
}

.server-feature-container {
    width: 100%;
    height: 50%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: rgb(75, 75, 75);
    border-radius: 6px;
}

.server-status {
    margin-top: 50px;
}
.server-online {
    font-size: 10px;
    text-transform: uppercase;
}
.info {
    margin-bottom: 50px;
}

.navbar-brand {
    font-family: 'montserratbold';
    letter-spacing: 5px;
    text-transform: uppercase;
}

.feature-content {
    text-align: left;
    background-color: rgb(241, 124, 0);
    padding: 20px;
    color: white;
}

.feature-content h1 {
    font-family: 'montserratbold';
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 50px;
    color: white;
/*    background-color: #0f0f0f;*/
    /*display: inline;*/
}

.feature-content h2 {
    font-family: 'montserratlight';
    /*letter-spacing: 5px;*/
    text-transform: none;
/*    font-size: 12px;*/
    margin-top: 0px;
}

.logo-area {
    background-color: rgba(0, 0, 0, 0.76);
    padding: 20px;
}

.team-members{
    /*text-align: center;*/
}
.team-members h2 {
    text-transform: none;
}
.team-members-header{
    /*font-size: 32px;*/
    margin-bottom: 50px;
}

.glyphicon-facetime-video{
    animation: pulse 3s infinite;
}

#feature-area {
    padding-top: 0px;
    margin-bottom: 5%;
}

#carousel-midgard {
    height: 500px;
}
#homeimage1 {
    background-image: url(../images/header1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;

}
#homeimage2 {
    background-image: url(../images/header2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

#homeimage3 {
    background-image: url(../images/header3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

#homeimage4 {
    background-image: url(../images/header4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

#mcimage {
    background-image: url("../images/minecraft-server.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    border-radius: 3px 3px 0px 0px;
}

#tf2image {
    background-image: url("../images/tf2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    border-radius: 3px 3px 0px 0px;
}

#team img {
    display: block;
    margin-bottom: 10px;
}

#scroll-down{
    text-align: center;
    margin-top: 75vh;
    font-size: 72px;
    display: block;
    color: white;
    /*background-color: #0f0f0f;*/
}

#navbar {
/*    text-transform: uppercase;*/
}

#feature-area-text {
    padding: 0;

}

#servers h1 {
    margin-bottom: 50px;
}



.alert{
    margin-bottom: 0px;
}

@media (min-width:300px) {
    section h1, .feature-content h1 {
        font-size: 30px;
    }
    .feature-content h2{
        font-size: 18px;
    }

    .team-members{
        text-align: center;
        margin-bottom: 50px;
    }

    .team-members img {
        margin: 0 auto;
    }



    .new-feature {
        /*background-image: url(../images/header4.jpg);*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }

}
@media (min-width:768px) {
    section h1, .feature-content h1 {
        font-size: 50px;
    }

    .feature-content h2{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .team-members{
        text-align: left;
        margin-bottom: 0;
    }
    .team-members img {
        margin: 0;
    }

}
@media (min-width:992px) {
    section h1, .feature-content h1 {
        font-size: 50px;
    }
    .feature-content h2{
        font-size: 28px;
    }
    section {
        padding-top: 15%;
    }

    .new-feature {
        /*background-image: none;*/
    }

}
@media (min-width:1200px) {
    section h1 {
        font-size: 48px;
    }
    .feature-content h2{
        font-size: 28px;
    }
    section {
        padding-top: 12%;
    }



}