body {
    margin-top: 20px;
    width: auto;
    color: #000000;
}

.navbar {
    color: #000000;
}

.navbar-default .navbar-brand {
    color: #000000;
}

.navbar-default .navbar-nav > li > a {
    color: #000000;
}
.custom-container-fluid {
    width: auto !important;
    margin-top: auto !important;
}
.custom-container-fluid-section {
    width: auto !important;
}
.navbar {
    padding-bottom: 20px;
}

.navbar.navbar-default {
    padding-top: auto !important;
    margin: auto !important;
    width: auto !important;
    padding-top: 0px !important;
}
.row {
    text-align: center;
}
iframe {
    display: none;
}

.jumbotron-custom {
    display: inherit;
}

#iframealert {
    display: inherit;
}

.navbar-right {
    margin-right: 0;
}

.background {
    display: none;
}

.nav {
    margin-bottom: 20px;
}

#top-link-block {
    padding-left: 70%;
    padding-bottom: 3%;
}

#top-link-block.affix-top {
    position: absolute;
    left: 10px;
}

#top-link-block.affix {
    position: fixed;
    bottom: 18px;
    left: 10px;
}

#top-link-block > a {
    color: black;
}

.background-rules, .background-about {
    display: none;
}

.hideonmobile {
    display: none;
}

.showonmobile{
    display: inherit !important;
}