body {
    margin-top: 50px;
    width: auto;
}

.centered {
    width: auto !important;
}

.navbar {
    padding-bottom: 20px;
}

iframe {
    display: none;
}

#iframealert {
    display: inherit;
}

.navbar-right {
    margin-right: 0;
}

.background {
    display: none;
}

.nav {
    margin-bottom: 20px;
}