body {
    margin-top: 50px;
    width: auto;
}

.custom-container-fluid {
    width: auto !important;
    margin-top: auto !important;
}

.navbar {
    padding-bottom: 20px;
}
.navbar.navbar-default{
    padding-top: auto !important;
    margin: auto !important;
    width: auto !important;
}
iframe {
    display: none;
}
.jumbotron-custom {
    display: inherit;
}
#iframealert {
    display: inherit;
}

.navbar-right {
    margin-right: 0;
}

.background {
    display: none;
}

.nav {
    margin-bottom: 20px;
}

#top-link-block{
    padding-left: 70%;
    padding-bottom: 3% ;
}
#top-link-block.affix-top {
    position: absolute;
    left: 10px;
}

#top-link-block.affix {
    position: fixed;
    bottom: 18px;
    left: 10px;
}

#top-link-block > a {
    color: black;
}

.background-rules, .background-about{
    display: none;
}