body {background: #000!important;}
.wrapper {width: 99.9%; margin: 0 auto; max-width: 1275px; -webkit-box-shadow: 10px 7px 15px -3px rgba(51,51,51,0.30); -moz-box-shadow: 10px 7px 15px -3px rgba(51,51,51,0.30); box-shadow: 10px 7px 15px -3px rgba(51,51,51,0.30);}
p {font-family: 'Lato', Arial, sans-serif; font-size: 1.2em;}
h1,h2,h3,h4,h5 {font-family: 'Roboto Slab', sans-serif!important; font-weight: bold!important;}
ul {font-family: 'Lato', serif; font-size: 1.2em;}
.btn {border-radius: 20px!important; -moz-border-radius: 20px!important; -webkit-border-radius: 20px!important; padding: 0.5em 1.5em 0.5em 1.5em!important;}
.green {color: #39B54A;}

.header {background-color: #fefefe;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23cacdcf' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"); padding: 1.5em;}
.logo {width: 300px; padding: .5em;}

.menu {background: none; margin-top: 2em;}
.nav {padding: 0!important;}
.navbar {background: none!important; border: none!important; padding: none!important; margin: 0!important;}
.navbar-nav {color: #599D8E!important; font-family: 'Roboto Slab', serif; font-weight: 700; font-size: 1.5em; display: inline-block!important; float: none!important; text-transform: uppercase;}
.navbar-collapse {text-align: center!important;}
.navbar-nav > li { background: none; margin-right: -.25em; }
.navbar-nav > li > a {color: #599D8E!important;}
.navbar-default .navbar-toggle {border: none; margin-top: 1.2em; margin-right: .25em; color: #599D8E;}
li.menu-apply { background: #39B54A; border-radius: 20px; color: #fff!important; margin-left: .75em;}
li.menu-apply a {color: #fff!important;}

.jumbotron {padding: 15em 0!important; background: linear-gradient(rgba(145,39,143,0.7), rgba(145,39,143,0.9)), url('../img/herobg.png') no-repeat center center; color: #fff!important; margin-bottom: 0!important;}

.about {padding: 7em 0; text-align: center;}

.a-2 {background-color: #fefefe;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23cacdcf' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");}

.a-2 .row {width: 60%; margin: 0 auto;}

.front-features {background-color: #e6e7e8;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23cacdcf' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");}


.page-title {background: linear-gradient(rgba(145,39,143,0.7), rgba(145,39,143,0.9)), url('../img/mcbg-1.png') no-repeat center center; padding: 3em;}
.page-title h1 {color: #fff; text-transform: uppercase; text-shadow: 1px 1px 2px #333;}

.content {padding: 5em; background: #fff;}
.content .row {width: 95%; margin: 0 auto;}
.sidebar {background: rgb(250, 250, 250); padding: 2em; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px;}

.staff-title {font-size: 60%; background: #39B54A; border-radius: 20px; padding: .2em; color: #fff; font-family: 'Roboto Slab', serif;}

.footer {background: linear-gradient(rgba(145,39,143,0.7), rgba(145,39,143,0.9)), url('../img/mcbg-1.png') no-repeat center center; padding: 4em 0; color: #fff;}
ul.social {font-size: 3em;}
.footer a {color: #eee!important;}


@media (max-width: 544px) {
    
.wrapper {width: 98%;}
.logo {text-align: center;}
.logo img {margin: 0 auto;}
.text-left {text-align: center; float: none;}
.text-right {text-align: center; float: none;}
.navbar-toggle {width: 100%!important; margin: 0 auto!important;}
.front-hero {font-size: 80%;}
.content .row {width: 100%!important; padding: 1em;}
.hero {padding: 2em;}
    
}
    
    
    
/* Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {

.wrapper {width: 95%;}
.navbar-toggle {width: 100%!important; margin: 0 auto!important;}
.content .row {width: 100%!important; padding: 1em;}
.front-features, .col-sm-12, .col-xs-12 {margin-top: 1.5em!important;}
.hero {padding: 2em;}
}
    
@media (min-width: 768px) and (max-width: 991px) {

.wrapper {width: 100%;}
.navbar-right {float: none!important; text-align: center; margin: 0 auto;}
.nav {padding: 0;}
.nav ul {font-size: 1.2em;}
.nav ul li {margin-left: 0;}
.navbar-toggle {width: 100%!important; margin: 0 auto!important;}
.content .row {width: 100%!important; padding: 1em;}
.front-features, .col-sm-12, .col-xs-12 {margin-top: 1.5em!important;}
.hero {padding: 2em;}
}
    
    
    
/* Large devices (desktops, 992px and up) */

@media (max-width: 992px) { 

.logo {text-align: center!important;}
.logo img {margin: 0 auto!important;}
.navbar-toggle {width: 100%!important; margin: 0 auto!important;}
.front-features, .col-sm-12, .col-xs-12 {margin-top: 1.5em!important;}
}
    
/* Nav fix (large desktops, 992-1061) */

@media (min-width: 992px) and (max-width: 1061px) { 

.nav ul {font-size: 1em!important;}
.nav ul li {margin-left: 0;}

}
    
/* Front page fix (large desktops, 996-1175) */

@media (min-width: 992px) and (max-width: 1220px) { 


}



/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1200px) { 

.nav ul {font-size: 1.2em;}
.nav ul li {margin-left: 0;}

}

/* Menu fixes (desktops, 1202-1272) */

@media (min-width: 1200px) and (max-width: 1275px) { 

/* .nav ul {font-size: 1.2em;} */
.nav ul li {margin-left: 0;}

}